<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<title>Insert title here</title>
</head>
<body>

<div align="center">
	<div>
		<h1>Addon Offer Manager</h1>
	</div>
	
	<div>&nbsp;</div>
	
	<div>
	
		<form th:action="@{/page/1}">
			<input type="hidden" name="sortField" th:value="${sortField}"/>
			<input type="hidden" name="sortDir" th:value="${sortDir}"/>
			Filter: 
			<input type="text" name="keyword" th:valu="${keyword}" required="required"/>
			&nbsp;
			<input class="btn btn-secondary" type="submit" value="Search"/>
			&nbsp;
			<input class="btn btn-secondary" type="button" value="Clear" onclick="clearFilter()"/>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="btn btn-secondary" th:href="@{/showNewAddonOfferForm}">Add AddonOffer</a>
		</form>
	</div>
	
	<div>&nbsp;</div>
	
	<div class="container">	
	<table class="table table-striped table-hover table-sm table-responsive" border="1" cellpadding="10">
		<thead class="thead-dark">
			<tr>
				<th scope="col">
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
						Id
					</a>
				</th>
				<th scope="col">type</th>
				<th>business</th>
				<th>sc</th>
				<th>tp</th>
				<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
						name
					</a>
				</th>
				<th>description</th>
				<th>bscs_provisioning</th>
				<th>prepaid_provisioning</th>
				<th>pcrf_provisioning</th>
				<th>generic</th>
				<th>active</th>
				<th>nesto</th>
				<th>n1</th>
				<th>n2</th>
				<th>n3</th>
				<th>n4</th>
				<th>n5</th>
				<th>n6</th>
				<th>n7</th>
				<th>n8</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="addonOffer : ${listAddonOffers}">
				<td th:text="${addonOffer.id}"></td>
				<td th:text="${addonOffer.type}"></td>
				<td th:text="${addonOffer.business}"></td>
				<td th:text="${addonOffer.sc}"></td>
				<td th:text="${addonOffer.tp}"></td>
				<td th:text="${addonOffer.name}"></td>
				<td th:text="${addonOffer.description}"></td>
				<td th:text="${addonOffer.bscs_provisioning}"></td>
				<td th:text="${addonOffer.prepaid_provisioning}"></td>
				<td th:text="${addonOffer.pcrf_provisioning}"></td>
				<td th:text="${addonOffer.generic}"></td>
				<td th:text="${addonOffer.active}"></td>
				<td th:text="${addonOffer.nesto}"></td>
				<td th:text="${addonOffer.n1}"></td>
				<td th:text="${addonOffer.n2}"></td>
				<td th:text="${addonOffer.n3}"></td>
				<td th:text="${addonOffer.n4}"></td>
				<td th:text="${addonOffer.n5}"></td>
				<td th:text="${addonOffer.n6}"></td>
				<td th:text="${addonOffer.n7}"></td>
				<td th:text="${addonOffer.n8}"></td>
				<td><a th:href="@{'/showFormForUpdate/' + ${addonOffer.id}}">Update</a></td>
			</tr>
		</tbody>
	</table>
</div>
	<div>&nbsp;</div>
	<div>
		Total Items:[[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]  
		&nbsp; - &nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		&nbsp;
				
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${i != currentPage}" th:href="@{'/page/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}">[[${i}]]</a>
			<span th:unless="${i != currentPage}">[[${i}]]</span>
			&nbsp;&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		&nbsp;
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
		&nbsp;
	
	</div>

</div>
<script type="text/javascript">
	function clearFilter(){
		window.location = '/';
	}
</script>
</body>
</html>